<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/C905738/Documents/PracticeProjects/rest-assuared-framework"><classes><class name="bookingapitest.CreateBookingApiTest"><methods><include name="createABookingAndValidateStatusCode"/></methods>
    </class><class name="bookingapitest.GetBookingApiTests"><methods><include name="validateStatusCodeForGetBookingIdApi"/><include name="validateStatusCodeForGetBookingByIdAPI"/></methods>
    </class><class name="bookingapitest.UpdateBookingApiTest"><methods><include name="updateBookingApiAndValidateStatusCodeOnly"/>
    </methods></class></classes></test></suite>